[mysqld]
local-infile=0
innodb_file_per_table=1
max_allowed_packet=64M
query_cache_limit=4M
query_cache_size=128M
query_cache_type=1
innodb_flush_log_at_trx_commit=2
innodb_lock_wait_timeout=200
max_connections=4096
open_files_limit = 100000
query_cache_min_res_unit=2k
thread_cache_size=60
performance_schema=OFF
skip-log-bin